In [6]:
#1. Membaca Dataset
import pandas as pd
import numpy as np

file_path = '/content/BANK LOAN.csv'
data = pd.read_csv(file_path)

print("Preview Dataset:")
print(data.head())

print("\nInformasi Dataset:")
print(data.info())

print("\nStatistik Deskriptif:")
print(data.describe())

print("\nCek Nilai Hilang:")
print(data.isnull().sum())

Preview Dataset:
   age  ed  employ  address  income  debtinc   creddebt   othdebt  default
0   41   3      17       12     176      9.3  11.359392  5.008608        1
1   27   1      10        6      31     17.3   1.362202  4.000798        0
2   40   1      15       14      55      5.5   0.856075  2.168925        0
3   41   1      15       14     120      2.9   2.658720  0.821280        0
4   24   2       2        0      28     17.3   1.787436  3.056564        1

Informasi Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       700 non-null    int64
 1   ed        700 non-null    int64
 2   employ    700 non-null    int64
 3   address   700 non-null    int64
 4   income    700 non-null    int64
 5   debtinc   700 non-null    float64
 6   creddebt  700 non-null    float64
 7   othdebt   700 non-null    float64
 8   default   700 non-null    int64
dtypes: float64(3), int64(6)
memory usage: 49.3 KB
None

Statistik Deskriptif:
              age          ed      employ     address      income     debtinc  \
count  700.000000  700.000000  700.000000  700.000000  700.000000  700.000000
mean    34.860000    1.722857    8.388571    8.278571   45.601429   10.260571
std      7.997342    0.928206    6.658039    6.824877   36.814226    6.827234
min     20.000000    1.000000    0.000000    0.000000   14.000000    0.400000
25%     29.000000    1.000000    3.000000    3.000000   24.000000    5.000000
50%     34.000000    1.000000    7.000000    7.000000   34.000000    8.600000
75%     40.000000    2.000000   12.000000   12.000000   55.000000   14.125000
max     56.000000    5.000000   31.000000   34.000000  446.000000   41.300000

         creddebt     othdebt     default
count  700.000000  700.000000  700.000000
mean     1.553553    3.058209    0.261429
std      2.117197    3.287555    0.439727
min      0.011696    0.045584    0.000000
25%      0.369059    1.044178    0.000000
50%      0.854869    1.987567    0.000000
75%      1.901955    3.923065    1.000000
max     20.561310   27.033600    1.000000

Cek Nilai Hilang:
age         0
ed          0
employ      0
address     0
income      0
debtinc     0
creddebt    0
othdebt     0
default     0
dtype: int64

In [8]:
#2 Preprocessing data
#Mengatasi missing value
from sklearn.impute import SimpleImputer
import pandas as pd

data = {'column': [1, 2, None, 4, 5]}
df = pd.DataFrame(data)

imputer = SimpleImputer(strategy='mean')

df['column'] = imputer.fit_transform(df[['column']])

#Encoding kategori
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

data = {'category_column': ['A', 'B', 'A', 'C']}
df = pd.DataFrame(data)
encoder = OneHotEncoder(sparse_output=False)
transformed = encoder.fit_transform(df[['category_column']])
encoded_df = pd.DataFrame(
    transformed,
    columns=encoder.get_feature_names_out(['category_column'])
)
print(encoded_df)

   category_column_A  category_column_B  category_column_C
0                1.0                0.0                0.0
1                0.0                1.0                0.0
2                1.0                0.0                0.0
3                0.0                0.0                1.0

In [10]:
#3. Normalisasi data
#Min-max xcalling
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
data = {'column': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
scaler = MinMaxScaler()
df['normalized_column'] = scaler.fit_transform(df[['column']])
print(df)

#Z-score normalization
from sklearn.preprocessing import StandardScaler
import pandas as pd
data = {'column': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
scaler = StandardScaler()
df['zscore_normalized'] = scaler.fit_transform(df[['column']])

print(df)

   column  normalized_column
0      10               0.00
1      20               0.25
2      30               0.50
3      40               0.75
4      50               1.00
   column  zscore_normalized
0      10          -1.414214
1      20          -0.707107
2      30           0.000000
3      40           0.707107
4      50           1.414214

In [11]:
#4. Mengatasi outlier
#Identifikasi outlier dengan IQR
import pandas as pd
data = {'column': [10, 12, 15, 18, 20, 200]}
df = pd.DataFrame(data)
Q1 = df['column'].quantile(0.25)
Q3 = df['column'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = df[(df['column'] < lower_bound) | (df['column'] > upper_bound)]
print("Outlier:")
print(outliers)

#Mengatasi outlier dengan capping
df['column_capped'] = df['column'].clip(lower=lower_bound, upper=upper_bound)
print("\nData setelah Capping:")
print(df)

#Transformasi data
import numpy as np
df['column_log'] = np.log1p(df['column'])
print("\nData setelah Transformasi Log:")
print(df)

Outlier:
   column
5     200

Data setelah Capping:
   column  column_capped
0      10         10.000
1      12         12.000
2      15         15.000
3      18         18.000
4      20         20.000
5     200         29.625

Data setelah Transformasi Log:
   column  column_capped  column_log
0      10         10.000    2.397895
1      12         12.000    2.564949
2      15         15.000    2.772589
3      18         18.000    2.944439
4      20         20.000    3.044522
5     200         29.625    5.303305