In [9]:
import sqlite3

conn = sqlite3.connect("store.db")
cursor = conn.cursor()

cursor.execute("DROP TABLE IF EXISTS Orders")
cursor.execute("DROP TABLE IF EXISTS Customers")
conn.commit()

cursor.execute("""
CREATE TABLE Customers (
    customer_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    email TEXT
)
""")

cursor.execute("""
CREATE TABLE Orders (
    order_id INTEGER PRIMARY KEY AUTOINCREMENT,
    customer_id INTEGER,
    product_name TEXT NOT NULL,
    order_date TEXT,
    FOREIGN KEY (customer_id) REFERENCES Customers(customer_id)
)
""")

cursor.execute("INSERT INTO Customers (name, email) VALUES ('Kayla', 'kayla@goodmail.com')")
kayla_id = cursor.lastrowid
cursor.execute("INSERT INTO Customers (name, email) VALUES ('Nuansa', 'nuansa@goodmail.com')")
nuansa_id = cursor.lastrowid

cursor.execute("INSERT INTO Orders (customer_id, product_name, order_date) VALUES (?, 'Laptop', '2023-01-15')", (kayla_id,))
cursor.execute("INSERT INTO Orders (customer_id, product_name, order_date) VALUES (?, 'Mouse', '2023-03-20')", (kayla_id,))
cursor.execute("INSERT INTO Orders (customer_id, product_name, order_date) VALUES (?, 'Keyboard', '2023-04-22')", (nuansa_id,))

conn.commit()

cursor.execute("""
SELECT Customers.name, Customers.email, Orders.product_name, Orders.order_date
FROM Orders
JOIN Customers ON Orders.customer_id = Customers.customer_id
""")
rows = cursor.fetchall()

print("List of Customers and their Orders:")
for row in rows:
    print(f"Customer: {row[0]}, Email: {row[1]} | Ordered: {row[2]} on {row[3]}")

conn.close()

List of Customers and their Orders:
Customer: Kayla, Email: kayla@goodmail.com | Ordered: Laptop on 2023-01-15
Customer: Kayla, Email: kayla@goodmail.com | Ordered: Mouse on 2023-03-20
Customer: Nuansa, Email: nuansa@goodmail.com | Ordered: Keyboard on 2023-04-22